# Dependencies
node_modules/

# Build outputs
dist/
*.local

# Logs
*.log

# IDE and editor files
.vscode/*
!.vscode/extensions.json

# Project specific
**/SLIm/

CLAUDE.md
*.pdf
**/robot

.claude/
**/assets/

**/*.raw

*.wav
